.g-wrapper{
    background-color: var(--downpour_blue);
}
.inner-container{
    gap: 1.5rem;
    background:#edcb8afa;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #f3e3b3;
    text-align: center;
}   
.inner-container .primaryText{
    color: beige;
    font-weight: 600;
} 
.inner-container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
}
.inner-container .button{
     background: #547795;
     border: 2px  solid white;
     box-shadow: var(--shadow);
     border-radius: 10px;
}