.property-container{
    gap:2rem;
    position: relative;
}
.property-container .like{
position: absolute;
top: 3rem;
right: 3rem;
cursor: pointer;
}

.property-container> img{
align-self: center;
max-height: 35rem;
width: 100%;
border-radius: 1rem;
object-fit: cover;
}
.property-details{
    gap:2rem;
    width: 100%;
    justify-content: space-between;
}
.property-details>div{
    gap: 1.5rem;
    flex: 1;
}
.property-details .left .head{
justify-content: space-between;
width: 100%;
}
.facilites{
    gap: 1rem;
    font-size: 0.9rem;
    padding: 1rem;
}
.facility{
    gap:0.5rem
}
.property-details .property-button{
    width: 100%;
    margin-top: 1rem;
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    color: white;
    background-color:var(--golden);
    box-sizing: border-box;
    border-color: var(--secondary);
    border-radius: 15px;
    transition: all 300ms ease-in;
}
.property-details .property-button:hover{
    transform: scale(1.05);
    cursor: pointer;

}
@media (max-width:700 )
{
    .property-container>div{
        flex-direction: column;
    }
    .head{
        flex-direction: column;
    }
    .facilites{
        flex-direction: column;
        align-items: flex-start;
    }
    .property-details>div{
        width: 100%;
    }
}